/*  General Styles */
@font-face {
  font-family: headFont;
  src: url(../fonts/Courgette/Courgette-Regular.ttf);
}
@font-face {
  font-family: bodyFont;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
:root {
  --mainColorOne: #000;
  --mainColorTwo: #fff;
  --themeColor: #a14f28;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: bodyFont;
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
  max-width: 100%;
}

/* Header */
.main-nav {
  width: 100%;
  height: 15vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1500;
}
.img-logo {
  width: 5rem;
}
.burger-menu {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2000;
  border-radius: 1.5rem;

  box-shadow: -1px -1px 2px rgb(245, 245, 245),
    1px 1px 2px rgba(186, 190, 204, 0.5);
}
.burger-menu:hover {
  box-shadow: inset 1px 1px 2px rgba(186, 190, 204, 0.5),
    inset -1px -1px 2px rgb(245, 245, 245);
}
.burger-menu .bar {
  width: 3rem;
  height: 2px;
  background-color: var(--mainColorOne);
  display: inline-block;
  position: relative;
  transition: all 0.5s;
}
.burger-menu .bar::before,
.burger-menu .bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  background-color: var(--mainColorOne);
  transition: all 0.5s;
}
.burger-menu .bar::before {
  width: 50%;
  top: -1rem;
}
.burger-menu .bar::after {
  width: 100%;
  top: 1rem;
}
.open .bar {
  transform: scale(1.2);
  background-color: transparent;
}
.open .bar::before {
  width: 100%;
  top: 0;
  transform: rotate(135deg);
}
.open .bar::after {
  top: 0;
  transform: rotate(-135deg);
}
.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: all 0.5s;
  background-color: var(--mainColorTwo);
  z-index: 1500;
}
.nav-link {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block;
  padding: 1rem;
  margin: 2rem;
  color: var(--mainColorOne);
  position: relative;
  opacity: 0;
}
@keyframes navLinkFade {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--mainColorOne);
  transform: scale(0);
  transition: all 0.3s;
}
.nav-link:hover::before {
  transform: scale(1);
}

.nav-link.last {
  color: var(--themeColor);
}
.open .nav-list {
  transform: translateY(0);
  transition: all 0.5s;
}

/* Hero section starts */
.hero {
  width: 100%;
  height: 100vh;
  background: url(../images/main-bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  animation: hero-animation 3s infinite;
}
@keyframes hero-animation {
  0% {
    background: url(../images/test-img-01.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  50% {
    background: url(../images/test-img-02.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  100% {
    background: url(../images/test-img-03.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
.hero::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-clipped {
  width: 45%;
  height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  transform-origin: right;
  transform: translateX(1%);
  /* background: url(../images/westay-page-material.svg) right no-repeat; */
}

.hero-textbox {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--mainColorOne);
  padding: 7.4rem;
  line-height: 1.5em;
  z-index: 20;
}
.hero-heading {
  font-family: headFont;
  font-size: 3.2rem;
  line-height: 1.5em;
  font-weight: 700;
}
.hero-sub-heading {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  margin: 1rem 0 5rem 0;
  text-transform: uppercase;
  color: rgb(80, 80, 80);
}
.hero-btn {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--mainColorTwo);
  background-color: var(--themeColor);
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
  position: relative;
}
.hero-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  z-index: -1;
}
.hero-btn:hover::after {
  transform: scaleX(1.1) scaleY(1.4);
  opacity: 0;
  transition: all 0.5s;
}
.arrow-down-icon {
  color: red;
}
.social-icons {
  position: absolute;
  left: 2.4rem;
  bottom: 1rem;
  z-index: 10;
}
.social-icons > svg {
  width: 2.5rem;
  fill: var(--mainColorTwo);
  margin: 0.5rem 0.8rem;
  opacity: 1;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}
.social-icons > svg:hover {
  fill: var(--themeColor);
}

/* media query for header and hero section */
@media screen and (max-width: 767px) {
  .img-logo {
    content: url(../images/mainLogoBlack.png);
  }
  .hero-clipped {
    width: 100%;
    height: 76vh;
  }
  .hero-clipped img {
    transform: rotate(-90deg) translateX(10%);
  }
  .hero-textbox {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: auto;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .hero-sub-heading {
    font-size: 0.9rem;
  }
}

/* room section 01 starts */
.flex-container {
  width: inherit;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.gallery-box {
  width: 50%;
  height: inherit;
  z-index: 1;
}
.gallery-grid-box {
  width: 100%;
  height: 80%;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem;
}
.gallery-grid-box > img {
  width: 100%;
  height: 210px;
  border-radius: 1.5rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
}
.room-detail-box {
  width: 50%;
  height: inherit;
  padding: 10% 0 0 10%;
  z-index: 2;
}
.room-type {
  font-family: headFont;
  font-size: 3.6rem;
  font-weight: 100;
}
.room-price {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: var(--themeColor);
  padding: 1rem 0 2rem 0;
}
.room-price span {
  font-size: 1rem;
}
.room-detail {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  padding: 0 0 3rem 0;
}
.line-to-img {
  width: 45rem;
  height: 0.2rem;
  background-color: var(--themeColor);
  margin-left: 10rem;
}
.room-section-02 .room-detail-box {
  order: 2;
  padding-left: 27%;
}
.room-section-02 .gallery-box {
  order: 1;
}
.room-section-02 .line-to-img {
  width: 45rem;
  margin-left: -45rem;
}
/* media for room sections */
@media screen and (max-width: 767px) {
  .line-to-img {
    display: none;
  }
  .flex-container {
    height: 100%;
    min-height: 100%;
  }
  .room-detail-box {
    width: 100%;
    height: 50vh;
    display: grid;
    place-items: center;
    padding: 10% 0;
    position: initial;
  }

  .room-section-02 .room-detail-box {
    order: 1;
    padding-left: initial;
  }
  .room-section-02 .gallery-box {
    order: 2;
  }
  .gallery-box {
    width: 100%;
    height: 50%;
    display: grid;
    padding: 0;
  }
  .gallery-grid-box {
    padding: initial;
  }
  .gallery-grid-box img:nth-child(3),
  .gallery-grid-box img:nth-child(4) {
    display: none;
  }
  .gallery-grid-box > img {
    height: 150px;
  }
  .room-detail {
    padding: 0;
  }
  .room-price {
    padding: 0;
  }
}

/* Swimming Pool & Roof-top Section */
.swimming-pool-roof-top-section img {
  height: 100%;
  border-radius: 1.5rem;
  -webkit-box-shadow: -3px 5px 15px -5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -3px 5px 15px -5px rgba(0, 0, 0, 0.65);
  box-shadow: -3px 5px 15px -5px rgba(0, 0, 0, 0.65);
}
.swimming-pool-roof-top-section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 5%;
  overflow: hidden;
  background: url(../images/test-img-03.jpg) center center/cover no-repeat fixed;
}
.swimming-pool-roof-top-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(161, 79, 40, 0.8);
}
.swimming-pool-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  z-index: 1;
}
.roof-top-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  z-index: 1;
}
.roof-top-wrapper img {
  order: 2;
}
.swimming-pool-wrapper .content,
.roof-top-wrapper .content {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  align-self: center;
  border-radius: 1.5rem;
  -webkit-box-shadow: -3px 5px 15px -5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -3px 5px 15px -5px rgba(0, 0, 0, 0.65);
  box-shadow: -3px 5px 15px -5px rgba(0, 0, 0, 0.65);
}
.swimming-pool-wrapper .content {
  margin-left: -5rem;
  background-color: var(--mainColorTwo);
  padding-right: 5.5%;
}
.roof-top-wrapper .content {
  justify-self: flex-end;
  margin-right: -5rem;
  background-color: var(--mainColorTwo);
  z-index: 1;
  padding-left: 5.5%;
}
.swimming-pool-wrapper .content h2,
.roof-top-wrapper .content h2 {
  font-family: headFont;
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--mainColorOne);
}
.swimming-pool-wrapper .content h2 {
  margin-left: auto;
}
.swimming-pool-wrapper .content p,
.roof-top-wrapper .content p {
  font-size: 1.4rem;
  padding: 0.5rem 0 2rem;
}
.swimming-pool-wrapper .content p {
  text-align: right;
  color: rgb(80, 80, 80);
}
.roof-top-wrapper .content p {
  text-align: left;
  color: rgb(80, 80, 80);
}
.swimming-pool-wrapper .content a,
.roof-top-wrapper .content a {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--mainColorTwo);
  letter-spacing: 2px;
  margin-left: auto;
}

.roof-top-wrapper .content a {
  margin-left: 0;
  margin-right: auto;
}
/* media query for Swimming Pool & Roof-top Section */
@media screen and (max-width: 767px) {
  .swimming-pool-roof-top-section img {
    display: none;
    height: 70vh;
  }
  .swimming-pool-wrapper,
  .roof-top-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .swimming-pool-wrapper .content,
  .roof-top-wrapper .content {
    display: grid;
    place-items: center;
    padding: initial;
    margin: initial;
  }
  .swimming-pool-wrapper .content {
    margin: 0;
  }
  .swimming-pool-wrapper .content h2 {
    margin-left: initial;
  }
  .swimming-pool-wrapper .content p,
  .roof-top-wrapper .content p {
    text-align: center;
  }
  .swimming-pool-wrapper .content a,
  .roof-top-wrapper .content a {
    margin: initial;
  }
  .swimming-pool-wrapper .content,
  .roof-top-wrapper .content {
    display: block;
    text-align: center;
    padding: 3rem;
  }
}
/* nearby Destination Section starts */
.flex-container {
  padding: 5rem;
  align-items: center;
  justify-content: center;
}
.box {
  width: 33.33%;
  height: inherit;
  padding: 3rem;
}
.des-content {
  background-color: var(--mainColorTwo);
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
}
.des-content h1 {
  font-family: headFont;
  font-size: 3.2rem;
  font-weight: 100;
  text-align: center;
  margin-bottom: 1.5rem;
}
.under-line {
  width: 100%;
  height: 2px;
  background-color: var(--themeColor);
  margin: -0.5rem 0 1.5rem 0;
  transform: scale(0.3);
}
.des-content p {
  font-weight: 500;
  color: rgb(80, 80, 80);
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 8rem;
  padding: 0 2rem;
}
.dex-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box img {
  width: 80%;
  height: 210px;
  border-radius: 1.5rem;
  margin-top: -7rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
}
/* media query for nearby Destination Section */
@media screen and (max-width: 767px) {
  .box {
    width: 100%;
    height: 90%;
  }
}

/* Footer */
footer {
  width: 100%;
  height: 60vh;
  background-color: var(--mainColorOne);
  color: var(--mainColorTwo);
  position: relative;
  margin-top: -8rem;
}
footer a {
  text-decoration: none;
}
.back-to-top {
  background-color: var(--mainColorOne);
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.back-to-top i {
  display: block;
  color: #fff;
  font-size: 2.1rem;
  padding: 2.5rem;
  animation: up 2s infinite;
}
.footer-social-icons > svg {
  width: 2.5rem;
  fill: var(--mainColorTwo);
  margin: 0 0.5rem;
  opacity: 0.75;
  cursor: pointer;
}
.footer-social-icons > svg:hover {
  opacity: 1;
}
.footer-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr) 0.5fr;
}
.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}
.slogan h2 {
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.slogan h2 span {
  font-family: headFont;
  font-weight: bold;
}
.branch-logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.branch-logo img {
  width: 5.5rem;
  margin: 0 4rem;
  opacity: 0.75;
}
.branch-logo img:hover {
  opacity: 1;
}
.goodbye-text {
  display: flex;
  padding: 0 1% 1%;
  align-items: flex-end;
  justify-content: space-between;
}
.copy-right-text {
  font-size: 1.2rem;
  font-weight: 100;
}
@keyframes up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
}
@media screen and (max-width: 767px) {
  .branch-logo img {
    width: 4.5rem;
    margin: 0 1rem;
  }
  .slogan h2 {
    font-size: 2.1rem;
    margin-bottom: -7rem;
  }
  .goodbye-text {
    flex-direction: column;
    align-items: center;
  }
  footer {
    margin-top: 0;
  }
}
